h1 {
  color: #6062eb;
}
h2 {
  font-weight: lighter;
}
.col {
  text-align: center;
}

.currentTemp {
  color: red;
}
.weatherapp {
  border: 3px solid #6062eb;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}
