h1 {
  color: #6062eb;
}
h2 {
  font-weight: lighter;
}
h3 {
  font-size: 20px;
}
.col {
  text-align: center;
}
.container {
  border: 3px solid #6062eb;
  margin: 20px 50px 0px 50px;
  border-radius: 8px;
  max-width: 650px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.currentTemp {
  display: inline;
}
.humidity {
  font-size: 15px;
}
.wind {
  font-size: 15px;
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
}
.weather-temperature img {
  margin-right: 10px 0;
  position: relative;
  top: -18px;
}
.weather-temperature strong {
  color: #212121;
  font-weight: 400;
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}
.weather-temperature span {
  position: relative;
  font-size: 20px;
  top: -45px;
}
.weather-temperature a {
  position: relative;
  font-size: 20px;
  top: -45px;
}
.tempForm {
  padding: 20px 10px 20px 0px;
}
.weather-temperature .active {
  color: #212121;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
footer {
  margin-left: 52px;
  font-size: 10px;
}
.btn {
  background-color: #6062eb;
}
